<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BODSServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/MitraisExercise.Web/WebServices/BODSService.asmx"
                binding="basicHttpBinding" bindingConfiguration="BODSServiceSoap"
                contract="BODSService.BODSServiceSoap" name="BODSServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>